<div class="breadcrumbs" ><a href="../">Home</a> / <a href="../books/">Books</a> / New Book</div>
<h2 "main-title">New Book</h2>
<div class="error-message">
    {{errorMessage}}
</div>
<form action="/books" method="POST">
    <div class="form-row">
        <div class="form-item">
            <label for="">Title</label>
            <input type="text" name="title" value="{{book.title}}">
        </div>
        <div class="form-item">
            <label for="">Author</label>
            <select name="author">
                {{#each authors}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label for="">Published Date</label>
            <input type="date" name="publishDate" value="{{book.publishDate}}">
        </div>
        <div class="form-item">
            <label for="">Page Count</label>
            <input type="number" name="pageCount" min="1" value="{{book.pageCount}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item form-item-no-grow">
            <label>Cover</label>
            <input type="file" name="cover" class="filepond">
        </div>
        <div class="form-item">
            <label>Description</label>
            <textarea name="description">{{book.description}}</textarea>
        </div>
    </div>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/books">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>