<h2 "main-title">Search Authors</h2>
<form action="/authors" method="GET">
  <input type="text" name="name" value="{{searchOptions.name}}">
  <button class="btn btn-primary" type="submit">Search</button>
</form>
<br>
{{#each authors}}
{{name}}
<div class="btn-row">
  <a class="btn btn-primary" href="/authors/{{id}}">View</a>
  <a class="btn btn-primary" href="/authors/{{id}}/edit">Edit</a>
  <form method="POST" action="/authors/{{id}}?_method=DELETE">
    <button class="btn btn-danger" type="submit">Delete</button>
  </form>
</div>
{{/each}}