<h2>Search Authors</h2>
<form action="/authors" method="GET">
  <input type="text" name="name" value="{{searchOptions.name}}">
  <button type="submit">Search</button>
</form>
<br>
<ul class="people_list">
  {{#each authors}}
  <li>{{name}}</li>
  <li><a href="/authors/{{id}}">View</a></li>
  <li><a href="/authors/{{id}}/edit">Edit</a></li>
  <form method="POST" action="/authors/{{id}}?_method=DELETE">
  <button type="submit">Delete</button>
  </form>
  {{/each}}
</ul>