<div class="breadcrumbs" ><a href="../">Home</a> / <a href="../authors/">Authors</a> / {{author.name}}</div>
<h2 "main-title">{{author.name}}</h2>
<div class="btn-row">
  <a class="btn btn-primary" href="/authors/{{author.id}}/edit">Edit</a>
  <form method="POST" action="/authors/{{author.id}}?_method=DELETE">
    <button class="btn btn-danger" type="submit">Delete</button>
</div>
</form>
<br>
<br>
<div class="book-grid">
{{#each booksByAuthor}}
<a href="/books/{{id}}">
  <img class="book-cover" src="{{coverImagePath}}">
</a>
{{/each}}
</div>